In [1]:
import pandas as pd
import numpy as np

In [2]:
movies = pd.read_csv('imdb-top-1000.csv')
print(movies)

                 Series_Title Released_Year  Runtime   Genre  IMDB_Rating  \
0    The Shawshank Redemption          1994      142   Drama          9.3
1               The Godfather          1972      175   Crime          9.2
2             The Dark Knight          2008      152  Action          9.0
3      The Godfather: Part II          1974      202   Crime          9.0
4                12 Angry Men          1957       96   Crime          9.0
..                        ...           ...      ...     ...          ...
995    Breakfast at Tiffany's          1961      115  Comedy          7.6
996                     Giant          1956      201   Drama          7.6
997     From Here to Eternity          1953      118   Drama          7.6
998                  Lifeboat          1944       97   Drama          7.6
999              The 39 Steps          1935       86   Crime          7.6

                 Director              Star1  No_of_Votes        Gross  \
0          Frank Darabont        Tim Robbins      2343110   28341469.0
1    Francis Ford Coppola      Marlon Brando      1620367  134966411.0
2       Christopher Nolan     Christian Bale      2303232  534858444.0
3    Francis Ford Coppola          Al Pacino      1129952   57300000.0
4            Sidney Lumet        Henry Fonda       689845    4360000.0
..                    ...                ...          ...          ...
995         Blake Edwards     Audrey Hepburn       166544  679874270.0
996        George Stevens   Elizabeth Taylor        34075  195217415.0
997        Fred Zinnemann     Burt Lancaster        43374   30500000.0
998      Alfred Hitchcock  Tallulah Bankhead        26471  852142728.0
999      Alfred Hitchcock       Robert Donat        51853  302787539.0

     Metascore
0         80.0
1        100.0
2         84.0
3         90.0
4         96.0
..         ...
995       76.0
996       84.0
997       85.0
998       78.0
999       93.0

[1000 rows x 10 columns]

In [3]:
movies.head()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0

In [4]:
genres = movies.groupby('Genre')
genres.min()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,300,1924,45,7.6,Abhishek Chaubey,Aamir Khan,25312,3296.0,33.0
Adventure,2001: A Space Odyssey,1925,88,7.6,Akira Kurosawa,Aamir Khan,29999,61001.0,41.0
Animation,Akira,1940,71,7.6,Adam Elliot,Adrian Molina,25229,128985.0,61.0
Biography,12 Years a Slave,1928,93,7.6,Adam McKay,Adrien Brody,27254,21877.0,48.0
Comedy,(500) Days of Summer,1921,68,7.6,Alejandro G. Iñárritu,Aamir Khan,26337,1305.0,45.0
Crime,12 Angry Men,1931,80,7.6,Akira Kurosawa,Ajay Devgn,27712,6013.0,47.0
Drama,1917,1925,64,7.6,Aamir Khan,Abhay Deol,25088,3600.0,28.0
Family,E.T. the Extra-Terrestrial,1971,100,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
Fantasy,Das Cabinet des Dr. Caligari,1920,76,7.9,F.W. Murnau,Max Schreck,57428,337574718.0,NaN
Film-Noir,Shadow of a Doubt,1941,100,7.8,Alfred Hitchcock,Humphrey Bogart,59556,449191.0,94.0
Horror,Alien,1933,71,7.6,Alejandro Amenábar,Anthony Perkins,27007,89029.0,46.0
Mystery,Dark City,1938,96,7.6,Alex Proyas,Bernard-Pierre Donnadieu,33982,1035953.0,52.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,"Il buono, il brutto, il cattivo",1965,132,7.8,Clint Eastwood,Clint Eastwood,65659,5321508.0,69.0

In [5]:
# Applying builtin aggregation fuctions on groupby objects
genres.std()

ValueError: could not convert string to float: 'The Shawshank Redemption'

In [ ]:
movies

In [ ]:
movies.groupby('Genre')['Gross'].sum().sort_values(ascending=False).head(3)

In [ ]:
# find the top 3 genres by total earning
movies.groupby('Genre').sum()['Gross'].sort_values(ascending=False).head(3)

In [ ]:
movies.groupby('Genre')['Gross'].sum().sort_values(ascending=False).head(3)

In [ ]:
movies.head()

In [ ]:
movies.groupby("Genre")["IMDB_Rating"].mean().sort_values(a)

In [ ]:
# find the genre with highest avg IMDB rating
movies.groupby('Genre')['IMDB_Rating'].mean().sort_values(ascending=False).head(1)

In [ ]:
movies.head(3)

In [ ]:
movies.groupby("Director")["No_of_Votes"].sum().sort_values(ascending=False).head(1)

In [ ]:
# find director with most popularity
movies.groupby('Director')['No_of_Votes'].sum().sort_values(ascending=False).head(1)

In [ ]:
# find the highest rated movie of each genre
# movies.groupby('Genre')['IMDB_Rating'].max()

In [ ]:
# find number of movies done by each actor
# movies['Star1'].value_counts()

movies.groupby('Star1')['Series_Title'].count().sort_values(ascending=False)

In [ ]:
# GroupBy Attributes and Methods
# find total number of groups -> len
# find items in each group -> size
# first()/last() -> nth item
# get_group -> vs filtering
# groups
# describe
# sample
# nunique

In [ ]:
len(movies.groupby('Genre'))

In [ ]:
movies['Genre'].nunique()
#nunique dodesnt count the null values

In [ ]:
movies.groupby('Genre').size()

In [ ]:
genres = movies.groupby('Genre')
# genres.first()
# genres.last()
genres.nth(6)

In [ ]:
movies['Genre'].value_counts()

In [ ]:
genres.get_group('Action')
# movies[movies['Genre'] == 'Fantasy']

In [ ]:
genres.groups

In [ ]:
genres.describe()

In [ ]:
genres.sample(2,replace=True)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
685,Ghostbusters,1984,105,Action,7.8,Ivan Reitman,Bill Murray,355413,238632124.0,71.0
931,Lord of War,2005,122,Action,7.6,Andrew Niccol,Nicolas Cage,294140,24149632.0,62.0
470,Hunt for the Wilderpeople,2016,101,Adventure,7.9,Taika Waititi,Sam Neill,111483,5202582.0,81.0
304,The Bridge on the River Kwai,1957,161,Adventure,8.1,David Lean,William Holden,203463,44908000.0,87.0
906,Despicable Me,2010,95,Animation,7.6,Pierre Coffin,Chris Renaud,500851,251513985.0,72.0
672,Majo no takkyûbin,1989,103,Animation,7.8,Hayao Miyazaki,Kirsten Dunst,124193,58564351.0,83.0
810,Shine,1996,105,Biography,7.7,Scott Hicks,Geoffrey Rush,51350,35811509.0,87.0
360,The Pursuit of Happyness,2006,117,Biography,8.0,Gabriele Muccino,Will Smith,448930,163566459.0,64.0
565,A Night at the Opera,1935,96,Comedy,7.9,Sam Wood,Edmund Goulding,30580,2537520.0,NaN
120,Singin' in the Rain,1952,103,Comedy,8.3,Stanley Donen,Gene Kelly,218957,8819028.0,99.0
556,Strangers on a Train,1951,101,Crime,7.9,Alfred Hitchcock,Farley Granger,123341,7630000.0,88.0
611,Män som hatar kvinnor,2009,152,Crime,7.8,Niels Arden Oplev,Michael Nyqvist,208994,10095170.0,76.0
425,Rosemary's Baby,1968,137,Drama,8.0,Roman Polanski,Mia Farrow,193674,287621537.0,96.0
585,Little Women,2019,135,Drama,7.8,Greta Gerwig,Saoirse Ronan,143250,108101214.0,91.0
698,Willy Wonka & the Chocolate Factory,1971,100,Family,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
698,Willy Wonka & the Chocolate Factory,1971,100,Family,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
321,Das Cabinet des Dr. Caligari,1920,76,Fantasy,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
321,Das Cabinet des Dr. Caligari,1920,76,Fantasy,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
712,Shadow of a Doubt,1943,108,Film-Noir,7.8,Alfred Hitchcock,Teresa Wright,59556,123353292.0,94.0
712,Shadow of a Doubt,1943,108,Film-Noir,7.8,Alfred Hitchcock,Teresa Wright,59556,123353292.0,94.0
75,Alien,1979,117,Horror,8.4,Ridley Scott,Sigourney Weaver,787806,78900000.0,89.0
876,The Invisible Man,1933,71,Horror,7.7,James Whale,Claude Rains,30683,298791505.0,87.0
393,Twelve Monkeys,1995,129,Mystery,8.0,Terry Gilliam,Bruce Willis,578443,57141459.0,74.0
714,The Lady Vanishes,1938,96,Mystery,7.8,Alfred Hitchcock,Margaret Lockwood,47400,474203697.0,98.0
700,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
700,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
691,The Outlaw Josey Wales,1976,135,Western,7.8,Clint Eastwood,Clint Eastwood,65659,31800000.0,69.0
48,Once Upon a Time in the West,1968,165,Western,8.5,Sergio Leone,Henry Fonda,302844,5321508.0,80.0

In [ ]:
genres.nunique()

In [ ]:
# agg method
# passing dict
genres.agg(
    {
        'Runtime':'mean',
        'IMDB_Rating':["mean","min"],
        'No_of_Votes':'sum',
        'Gross':'sum',
        'Metascore':'min'
    }
)

              Runtime IMDB_Rating      No_of_Votes         Gross Metascore
                 mean        mean  min         sum           sum       min
Genre
Action     129.046512    7.949419  7.6    72282412  3.263226e+10      33.0
Adventure  134.111111    7.937500  7.6    22576163  9.496922e+09      41.0
Animation   99.585366    7.930488  7.6    21978630  1.463147e+10      61.0
Biography  136.022727    7.938636  7.6    24006844  8.276358e+09      48.0
Comedy     112.129032    7.901290  7.6    27620327  1.566387e+10      45.0
Crime      126.392523    8.016822  7.6    33533615  8.452632e+09      47.0
Drama      124.737024    7.957439  7.6    61367304  3.540997e+10      28.0
Family     107.500000    7.800000  7.8      551221  4.391106e+08      67.0
Fantasy     85.000000    8.000000  7.9      146222  7.827267e+08       NaN
Film-Noir  104.000000    7.966667  7.8      367215  1.259105e+08      94.0
Horror     102.090909    7.909091  7.6     3742556  1.034649e+09      46.0
Mystery    119.083333    7.975000  7.6     4203004  1.256417e+09      52.0
Thriller   108.000000    7.800000  7.8       27733  1.755074e+07      81.0
Western    148.250000    8.350000  7.8     1289665  5.822151e+07      69.0

In [ ]:
genres.agg({
    
})

In [ ]:
# passing list
genres.agg(['min','max','mean','sum'],)

TypeError: Could not convert The Dark KnightThe Lord of the Rings: The Return of the KingInceptionThe Lord of the Rings: The Fellowship of the RingThe Lord of the Rings: The Two TowersThe MatrixStar Wars: Episode V - The Empire Strikes BackStar WarsSeppukuShichinin no samuraiGladiatorLéonTerminator 2: Judgment DayVikram VedhaDangalAvengers: EndgameAvengers: Infinity WarThe Dark Knight RisesOldeuboiRaiders of the Lost ArkAliensStar Wars: Episode VI - Return of the JediUri: The Surgical StrikeK.G.F: Chapter 1Baahubali 2: The ConclusionGangs of WasseypurPaan Singh TomarWarriorV for VendettaBatman BeginsHera PheriLock, Stock and Two Smoking BarrelsAndaz Apna ApnaIndiana Jones and the Last CrusadeDie HardRanSholayYôjinbôSherlock Jr.HaiderLoganRushFord v FerrariMad Max: Fury RoadA WednesdayTaegukgi hwinalrimyeoKill Bill: Vol. 1Jurassic ParkBlade RunnerSanjuroWhite HeatThe GeneralBajrangi BhaijaanBabyBãhubali: The BeginningSerbuan maut 2: BerandalGuardians of the GalaxyBlade Runner 2049The RevenantTropa de Elite 2: O Inimigo Agora é OutroDeadpoolYip ManNefes: Vatan SagolsunTropa de EliteThe AvengersThe Bourne UltimatumCasino RoyaleKill Bill: Vol. 2Mou gaan douPirates of the Caribbean: The Curse of the Black PearlKnockin' on Heaven's DoorThe TerminatorPer un pugno di dollariRio BravoThor: RagnarokStar Wars: Episode VII - The Force AwakensX-Men: Days of Future PastEdge of TomorrowDistrict 9Star TrekLetters from Iwo JimaIron ManYing xiongThe Bourne IdentityThe Blues BrothersDawn of the DeadAguirre, der Zorn GottesThe Wild BunchThe Adventures of Robin HoodThe GentlemenRaaziDunkirkUdta PunjabRogue OneCaptain America: Civil WarAng-ma-reul bo-at-daAjeossiChugyeokjaTakenAvatarApocalyptoHot FuzzSerenityGongdong gyeongbi guyeok JSAThe Count of Monte CristoWo hu cang longThe Boondock SaintsThe GameTombstoneThe FugitiveLat sau san taamDip huet seung hungPredatorEvil Dead IIGhostbustersBadlandsBonnie and ClydeThe Longest DayRed RiverKey LargoScarface: The Shame of the NationDeadpool 2Mission: Impossible - FalloutKingsman: The Secret ServiceCaptain America: The Winter SoldierStar Trek Into DarknessX: First ClassSkyfallLucky Number Slevin3:10 to YumaKung fuThe Bourne SupremacyMan on FireThe Last SamuraiThe Fifth ElementThe Last of the MohicansEmpire of the SunStar Trek II: The Wrath of KhanFirst BloodThe Taking of Pelham One Two ThreeEnter the DragonThe French ConnectionDirty HarryWhere Eagles DareThe Dirty DozenGoldfingerThe Magnificent SevenGuardians of the Galaxy Vol. 2Baby DriverOnly the BraveSicarioHell or High WaterDawn of the Planet of the ApesSerbuan mautEnd of WatchKick-AssCelda 211Sherlock HolmesEastern PromisesHuo Yuan JiaHarry Potter and the Half-Blood Prince300WatchmenLord of WarBatoru rowaiaruMinority ReportDie Hard: With a VengeanceFalling DownLethal WeaponMad Max 2The WarriorsEscape from Alcatraz to numeric

In [ ]:
# Adding both the syntax
genres.agg(
    {
        'Runtime':['min','mean'],
        'IMDB_Rating':'mean',
        'No_of_Votes':['sum','max'],
        'Gross':'sum',
        'Metascore':'min'
    }
)

In [ ]:
# looping on groups
result_data = []  # A list to collect the data

for group, data in genres:
    max_rating = data['IMDB_Rating'].max()
    max_rating_movies = data[data['IMDB_Rating'] == max_rating]
    result_data.append(max_rating_movies)

# Concatenate the list of DataFrames into the final result
df = pd.concat(result_data)
if __name__ == "__main__":
# end main

SyntaxError: expected ':' (3104867382.py, line 11)

In [ ]:
# df=pd.DataFrame(columns=movies.columns)
# for group,data in genres:
#     df=df.append(data[data[""]])

In [ ]:
# split (apply) combine
# apply -> builtin function

genres.apply(min)

In [ ]:
genres.get_group("Action")['Series_Title']

2                                        The Dark Knight
5          The Lord of the Rings: The Return of the King
8                                              Inception
10     The Lord of the Rings: The Fellowship of the Ring
13                 The Lord of the Rings: The Two Towers
                             ...
968                                         Falling Down
979                                        Lethal Weapon
982                                            Mad Max 2
983                                         The Warriors
985                                 Escape from Alcatraz
Name: Series_Title, Length: 172, dtype: object

In [ ]:
# find number of movies starting with A for each group

def dpo(group):
  return group['Series_Title'].str.startswith('A').sum()

In [ ]:
genres.apply(dpo)

Genre
Action       10
Adventure     2
Animation     2
Biography     9
Comedy       14
Crime         4
Drama        21
Family        0
Fantasy       0
Film-Noir     0
Horror        1
Mystery       0
Thriller      0
Western       0
dtype: int64

In [ ]:
# find ranking of each movie in the group according to IMDB score

def rank_movie(group):
  group['genre_rank'] = group['IMDB_Rating'].rank(ascending=False)
  return group

In [ ]:
genres.apply(rank_movie)

In [ ]:
genres.min()

In [ ]:
# find normalized IMDB rating group wise

def normal(group):
  group['norm_rating'] = (group['IMDB_Rating'] - group['IMDB_Rating'].min())/(group['IMDB_Rating'].max() - group['IMDB_Rating'].min())
  return group

genres.apply(normal)

In [ ]:
# groupby on multiple cols
duo = movies.groupby(['Director','Star1'])
duo
# size
duo.size()
# get_group
duo.get_group(('Aamir Khan','Amole Gupte'))

In [ ]:
# find the most earning actor->director combo
duo['Gross'].sum().sort_values(ascending=False).head(1)

NameError: name 'duo' is not defined

In [ ]:
# find the best(in-terms of metascore(avg)) actor->genre combo
movies.groupby(['Star1','Genre'])['Metascore'].mean().reset_index().sort_values('Metascore',ascending=False).head(1)

In [ ]:
# agg on multiple groupby
duo.agg(['min','max','mean'])

### Excercise

In [ ]:
ipl = pd.read_csv('deliveries.csv')
ipl.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [ ]:
ipl.shape

(179078, 21)

In [ ]:
# find the top 10 batsman in terms of runs
ipl.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head(10)

batsman
V Kohli           5434
SK Raina          5415
RG Sharma         4914
DA Warner         4741
S Dhawan          4632
CH Gayle          4560
MS Dhoni          4477
RV Uthappa        4446
AB de Villiers    4428
G Gambhir         4223
Name: batsman_runs, dtype: int64

In [ ]:
# find the batsman with max no of sixes
six = ipl[ipl['batsman_runs'] == 6]

six.groupby('batsman')['batsman'].count().sort_values(ascending=False).head(1).index[0]

'CH Gayle'

In [ ]:
# find batsman with most number of 4's and 6's in last 5 overs
temp_df = ipl[ipl['over'] > 15]
temp_df = temp_df[(temp_df['batsman_runs'] == 4) | (temp_df['batsman_runs'] == 6)]
temp_df.groupby('batsman')['batsman'].count().sort_values(ascending=False).head(1).index[0]

'MS Dhoni'

In [ ]:
# find V Kohli's record against all teams
temp_df = ipl[ipl['batsman'] == 'V Kohli']

temp_df.groupby('bowling_team')['batsman_runs'].sum().reset_index()

               bowling_team  batsman_runs
0       Chennai Super Kings           749
1           Deccan Chargers           306
2            Delhi Capitals            66
3          Delhi Daredevils           763
4             Gujarat Lions           283
5           Kings XI Punjab           636
6      Kochi Tuskers Kerala            50
7     Kolkata Knight Riders           675
8            Mumbai Indians           628
9             Pune Warriors           128
10         Rajasthan Royals           370
11   Rising Pune Supergiant            83
12  Rising Pune Supergiants           188
13      Sunrisers Hyderabad           509

In [ ]:
# Create a function that can return the highest score of any batsman
temp_df = ipl[ipl['batsman'] == 'V Kohli']
temp_df.groupby('match_id')['batsman_runs'].sum().sort_values(ascending=False).head(1).values[0]

113

In [ ]:
def highest(batsman):
  temp_df = ipl[ipl['batsman'] == batsman]
  return temp_df.groupby('match_id')['batsman_runs'].sum().sort_values(ascending=False).head(1).values[0]

In [ ]:
highest('DA Warner')

126